* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .container {
    width: 95% !important;
  }
}
.container {
  height: auto;
  width: 28.3vw;
  margin: 1rem auto;
  /* border: 5px solid rgb(0, 0, 0); */
  border-radius: 20px;
  box-shadow: 2px 2px 30px 2.1px black;
  background: rgb(255 255 255 / 60%);
  /* transform: translateX(330px); */
  padding: 1rem;
  transition: all 0.5s;
}

h1 {
  text-align: center;
  background: linear-gradient(45deg, #6fc3f7, #1813a2);
  padding: 12px;
  color: white;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Screen {
  height: auto;
  /* padding: 25px; */
  /* width: 100%; */
  /* border-radius: 15px; */
  font-size: 22px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  color: black;
  background: rgb(255, 255, 255);
  /* box-shadow: 2px 3px 5px white; */
  display: flex;
  align-items: center;
  /* overflow: scroll; */
}

#NormalNumpad {
  /* margin-top: 7px; */
  border-radius: 1px dashed;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 4px;
  row-gap: 4px;
}

#BinaryNumpad {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  display: none;
}

.pads {
  padding: 18%;
  background: skyblue;
  /* margin: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.01px solid;
  font-size: 20px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 29px;
}

.Binarypads {
  padding: 13%;
  background: #003500;
  color: white;
  /* margin: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.01px solid green;
  font-size: 22px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.Binarypads:nth-child(1){
  grid-column: 1 / span 2;
}
.Binarypads:nth-child(2){
  grid-column: 3 / span 2;
}
.DiffPads {
  font-size: 14px;
  font-family:Georgia, 'Times New Roman', Times, serif
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: black;
  color: green;
  text-align: center;
}

body {
  background: linear-gradient(45deg, #6fc3f7, #1813a2);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.pads:hover {
  /* background: rgba(0, 0, 0, 0.719); */
  opacity: 0.7;
}

.pads:active {
  transform: scale(0.97);
  /* font-size: 18px; */
  border: 0px solid;
}
.Binarypads:hover {
  /* background: rgba(0, 0, 0, 0.719); */
  opacity: 0.7;
}

.Binarypads:active {
  transform: scale(0.97);
  /* font-size: 18px; */
  border: 0px solid;
}

.symbol {
  font-size: 28px;
}

#Screen2 {
  justify-content: flex-end;
}

.ScreenCombined {
  border: 2px solid;
  border-radius: 5px;
}
#SwitchToBinary {
  height: 23px;
  width: 52px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.452);
  border: 2px solid grey;
  cursor: pointer;
  /* margin-right: 0; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  transition: all 0.18s ease-in;
  user-select: none;
}
#SwitchBall {
  height: 18.7px;
  width: 18.7px;
  background: grey;
  border-radius: 50%;
  transition: all 0.18s ease-in;
  /* transform: translateX(28.3px); */
  user-select: none;
}

#SwitchToBinary:hover > #SwitchBall {
  opacity: 0.9;
  /* box-shadow: 1px 1px 29px 2px rgba(46, 121, 233, 0.747); */
}
/* #SwitchToBinary:active {
  border-color: blue;
} */
.SwitchDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 35px;
  padding: 2px;
}
.BinaryLabel {
  font-size: 15px;
  font-family: monospace;
  margin-right: 5px;
  font-weight: bold;
  opacity: 0.85;
  user-select: none;
  transition: all 0.3s;
}

.Backdround1 {
  height: 55vw;
  width: 55vw;
  background: violet;
  position: absolute;
  top: -10%;
  left: -10%;
  border-radius: 50%;
}

.Backdround2 {
  height: 45vw;
  width: 45vw;
  background: yellow;
  position: absolute;
  top: -35%;
  right: 30%;
  border-radius: 50%;
}

.Backdround3 {
  height: 55vw;
  width: 55vw;
  background: orange;
  position: absolute;
  right: -15%;
  top: -10%;
  border-radius: 50%;
}

.Backdround4 {
  height: 52vw;
  width: 52vw;
  background: navy;
  position: absolute;
  top: 30%;
  right: 56%;
  border-radius: 50%;
}

.Backdround5 {
  height: 55vw;
  width: 55vw;
  background: tomato;
  position: absolute;
  bottom: -30%;
  left: 30%;
  border-radius: 50%;
}

.Background {
  filter: blur(130px);
  z-index: -2;
  /* opacity: 0.9; */
}

#HiddenText {
  display: none;
  position: absolute;
  z-index: 95;
  top: 0;
}
/* .ToSubPads {
            display: flex;
            align-items: center;
            justify-content: center;
        }
         */
.Small {
  font-size: 14px;
}
.VerySmall {
  font-size: 8px;
}

#History {
  height: 70vh;
  width: 25vw;
  background: rgba(0, 0, 0, 0.699);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  transform: translate(5%, 100%);
  border-radius: 20px;
  padding: 1rem;
  /* border: 2px solid; */
  overflow-y: scroll;
  /* opacity: 0.7; */
  /* display: none; */
  transition: all 0.7s linear;
  color: white;
  /* font-size: 16px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#HistoryLabel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0%;
  /* 12.5 */
  /* transform: translateX(-50%); */
  background: white;
  padding: 10px;
  border: 1px solid;
  /* border-radius: 10px; */
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.25s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  user-select: none;
  /* display: none; */
}
#HistoryLabel:hover {
  opacity: 1;
}
#History > div {
  padding: 5px;
  font-size: 17px;
}
#ClrHistory {
  margin: 7px auto;
  display: block;
  padding: 6px;
  color: black;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  /* border: 2px solid; */
  transition: all 0.2s;
  cursor: pointer;
}
#ClrHistory:hover {
  /* background: rgba(0, 0, 0, 0.459); */
  opacity: 0.7;
}
